<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>ITFChina后台 | 登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- STYLESHEETS --><!--[if lt IE 9]><script src="__PUBLIC__/Admin/js/flot/excanvas.min.js"></script><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script><![endif]-->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/cloud-admin.css" >
	
	<link href="__PUBLIC__/Admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- DATE RANGE PICKER -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/bootstrap-daterangepicker/daterangepicker-bs3.css" />
	<!-- UNIFORM -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/uniform/css/uniform.default.min.css" />
	<!-- ANIMATE -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/animatecss/animate.min.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/js/Validform/css/style.css" />
</head>
<body class="login">
	<!-- PAGE -->
	<section id="page">
			<!-- HEADER -->
			<header>
				<!-- NAV-BAR -->
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div id="logo">
								<a href="index.html"><img src="__PUBLIC__/Admin/img/logo/logo.png" height="40" alt="logo name" /></a>
							</div>
						</div>
					</div>
				</div>
				<!--/NAV-BAR -->
			</header>
			<!--/HEADER -->
			<!-- LOGIN -->
			<section id="login_bg" class="visible">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-md-offset-4">
							<div class="login-box">
								<h2 class="bigintro">ITF后台管理登录</h2>
								<div class="divide-40"></div>
								<form role="form" id="form" method="post" action="{:U('Admin/Login/login')}">
								  <div class="form-group">
									<label for="exampleInputEmail1">用户名</label>
									<i class="fa fa-user"></i>
									<input type="text" name="username" class="form-control" id="username" >
								  </div>
								  <div class="form-group"> 
									<label for="exampleInputPassword1">密码</label>
									<i class="fa fa-lock"></i>
									<input type="password" name="pwd" class="form-control" id="pwd" >
								  </div>
								  <div>
								
									<button type="submit" class="btn btn-danger">登录</button>
								  </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--/LOGIN -->
	</section>
	<!--/PAGE -->
	<!-- JAVASCRIPTS -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- JQUERY -->
	<script src="__PUBLIC__/Admin/js/jquery/jquery-2.0.3.min.js"></script>
	<!-- JQUERY UI-->
	<script src="__PUBLIC__/Admin/js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
	<!-- BOOTSTRAP -->
	<script src="__PUBLIC__/Admin/bootstrap-dist/js/bootstrap.min.js"></script>
	
	
	<!-- UNIFORM -->
	<script type="text/javascript" src="__PUBLIC__/Admin/js/uniform/jquery.uniform.min.js"></script>
	<!-- BACKSTRETCH -->
	<script type="text/javascript" src="__PUBLIC__/Admin/js/backstretch/jquery.backstretch.min.js"></script>
	
	<script type="text/javascript" src="__PUBLIC__/Admin/js/Validform/Validform_v5.3.2_min.js"></script>	
		
	<script type="text/javascript">
		function swapScreen(id) {
			jQuery('.visible').removeClass('visible animated fadeInUp');
			jQuery('#'+id).addClass('visible animated fadeInUp');
		}
		$.backstretch([
		"__PUBLIC__/Admin/img/login/1.jpg"
		, "__PUBLIC__/Admin/img/login/2.jpg"
		, "__PUBLIC__/Admin/img/login/3.jpg"
		, "__PUBLIC__/Admin/img/login/4.jpg"
		], {duration: 3000, fade: 750});

		$("#form").Validform({
			tiptype:3,
			label:".control-label",
			showAllError:true,
		}).addRule([{
			ele:"#username",
			datatype:"*",
			nullmsg:'用户名不能为空'
		},
		{
			ele:"#pwd",
			datatype:"*",
			nullmsg:'密码不能为空'
		}]);
	</script>
	<!-- /JAVASCRIPTS -->
</body>
</html>