<!-- 继承Index/index里的内容 -->
<extend name="Index/index" /> 

<block name="content">
<!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
<div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h4 class="modal-title">Box Settings</h4>
		</div>
		<div class="modal-body">
		  Here goes box setting content.
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
  </div>
<!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
<div class="container">
	<div class="row">
		<block name = 'content'>
		<div id="content" class="col-lg-12">
			<!-- PAGE HEADER-->
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header" style="min-height:45px;">
						<!-- STYLER -->
						
						<!-- /STYLER -->
						<!-- BREADCRUMBS -->
						<ul class="breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								<a href="index.html">活动资讯</a>
							</li>
							<li>添加活动资讯</li>
						</ul>
						<!-- /BREADCRUMBS -->
					</div>
				</div>
			</div>
			<!-- /PAGE HEADER -->
			<!-- DASHBOARD CONTENT -->
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="box border inverse">
								<div class="box-title">
									<h4><i class="fa fa-bars"></i>活动资讯内容</h4>
									<div class="tools">
										
									</div>
								</div>
								<div class="box-body">
									<form id="add" action="{:U('Admin/Activity/update')}" class="form-horizontal form-bordered"  method="post" enctype="multipart/form-data">
										<div class="panel-body panel-form">
											<div class="col-md-12">
												<div class="form-group">
													<label class="control-label col-md-1 col-sm-1" for="fullname">标题：</label>
													<div class="col-md-8 col-sm-8">
				                                        <input class="form-control" type="text"  name="title" id="name" placeholder='活动资讯标题' value="{$activity['title']}">
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-md-1 col-sm-1" for="fullname">作者：</label>
													<div class="col-md-8 col-sm-8">
				                                        <input class="form-control" type="text" name="author" placeholder='活动资讯作者' value="{$activity['author']}">
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-md-1 col-sm-1">类型：</label>
													<div class="col-md-3 col-sm-3">
				                                        <select class="form-control" id="type" name="type" >
															<option value="">请选择</option>
															<option <if condition="$activity.type eq 0"> selected="selected"</if> value="0">国际活动</option>
															<option <if condition="$activity.type eq 1"> selected="selected"</if> value="1">中国联盟活动</option>
															<option <if condition="$activity.type eq 2"> selected="selected"</if> value="2">分区协会活动</option>
															<option <if condition="$activity.type eq 3"> selected="selected"</if> value="3">省级协会活动</option>
															<option <if condition="$activity.type eq 4"> selected="selected"</if> value="4">国际、国内会议</option>
															<option <if condition="$activity.type eq 5"> selected="selected"</if> value="5">国际、国内讲习</option>
														</select>
													</div>
												</div>

												<div class="form-group">
					                                <label class="col-md-1 control-label">封面：</label>
					                                
					                                <div class="col-md-4">
					                                    <img src="" alt="" id="cover_box" style="display:none">
					                                    <a id="upload">
					                                    	<img src="{$activity['cover']}" width="250px" alt="" id="cover_prev">
					                                    </a>
					                                </div>

					                                <div class="col-md-2" style="border-left:none;">
					                                    <button type="button" class="btn btn-primary" id="cancel">取消封面</button>
					                                    <input type="file" name="cover" id="cover" class="hidden" />
					                                </div>
					                            </div>
												
												<div class="form-group">
													<label class="control-label col-md-1 col-sm-1">附件：</label>
													<div class="col-md-2 col-sm-2">
														<button type="button" class="btn btn-primary" id="attach_file">选择文件</button>
				                                        <input type="file" id="attach" name="attach" class="hidden" value="{$activity['attach']}">
													</div>
													<div class="col-md-7 col-sm-7">
														<h5 id="attach_name">{$activity['attach']}</h5>
													</div>
												</div>
												
												

												<div class="form-group" >
													<label class="control-label col-md-1 col-sm-1">内容：</label>
													<div class="col-md-11 col-sm-11">
														<script type="text/plain" id="container" name="content"></script>
													</div>
												</div>

												<div class="form-group">
													<label class="col-md-1 control-label">发布：</label> 
													<div class="col-md-8"> 
														<label class="radio-inline"> <input type="radio" class="uniform" name="is_online" <if condition="$activity.is_online eq 1"> checked="checked"</if>  value="1"> 是 </label> 
														<label class="radio-inline"> <input type="radio" class="uniform" name="is_online" <if condition="$activity.is_online eq 0"> checked="checked"</if>  value="0"> 否 </label>
													</div>
												 </div>
												<input type="hidden" value="{$activity.id}" name="act_id">
												<div class="form-group" style="margin-top:20px;">
													<div class="col-md-9 col-sm-9 text-right" style="border:none;">
														<button type="reset" class="btn btn-primary m-r-15">重置</button>
														<button type="submit" class="btn btn-primary m-r-15">修改</button>
													</div>
												</div>

											</div>
											
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		   <!-- /DASHBOARD CONTENT -->
		  
			<!-- /CALENDAR & CHAT -->
			<div class="footer-tools">
				<span class="go-top">
					<i class="fa fa-chevron-up"></i> Top
				</span>
			</div>
		</div><!-- /CONTENT-->

		
	</div>
</div>
</block>

<block name="js">
	<script type="text/javascript" src="__PUBLIC__/Admin/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/js/ueditor/ueditor.all.js"></script>

	<script type="text/javascript">
	$(function(){
		var default_img = $('#upload').find('img').attr('src');

		$('#upload').click(function() {
	        $('input[name=cover]').click();
	    });

		$('#cancel').click(function() {
			$('#upload').find('img').attr('src', default_img);
	        $('input[name=cover]').val('');
		});

	    // 头像文件验证
	    $('#cover').change(function() {
	        var file = $(this)[0].files[0];
	        //验证文件大小
	        var size = file.size;
	        var max_size = 1000000;
	        if (size > max_size) {
	            alert('文件过大，请重新选择！');
	            $(this).val('');
	            return false;
	        }
	        //验证文件类型
	        var mime = file.type;
	        var allow_type = ['image/jpeg', 'image/gif', 'image/png', 'image/bmp'];
	        if (allow_type.indexOf(mime) == -1) {
	            alert('文件类型有误，请选图片文件！');
	            $(this).val('');
	            return false;
	        }

	        var reader = new FileReader();
	        reader.readAsDataURL(file);
	        reader.onload = function(){
	            $('#cover_box').attr('src', reader.result);
	            $('#cover_box')[0].onload = function() {
	                $('#cover_prev').attr('src', reader.result);
	            }
	        }
	    });

	    $('#attach_file').click(function() {
	    	$(this).next('input').click();
	    });

	    $('#attach').change(function() {
	        var file = $(this)[0].files[0];
	        $('#attach_name').text(file.name);
	    });


	    //编辑器
		var ue = UE.getEditor('container',{
            initialFrameHeight: 600,

		});
		ue.addListener("ready", function () {
	        // editor准备好之后才可以使用
	        ue.setContent('{$activity.content}');

		});	

		var demo=$("#add").Validform({
			tiptype:3,
			label:".control-label",
			showAllError:true,
			datatype:{
				"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
			},
		
		});
	
	//通过$.Tipmsg扩展默认提示信息;
	//$.Tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
	demo.tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
	
	demo.addRule([{
		ele:".form-control:eq(0)",
		datatype:"*"
	},
	{
		ele:".form-control:eq(1)",
		datatype:"*"	
	},
	{
		ele:"select",
		datatype:"*",
		nullmsg:"请选择类型"
	},
	{
		ele:"#cover",
		datatype:"*",
		nullmsg:"请选择封面"
	}]);

	$("#add").submit(function(e){
	  	if(ue.getContent() == ""){
	  		alert("请编辑活动内容");
	  		return false;
	  	}	  		
	});

	})
	

	</script>
</block>