<!-- 继承Index/index里的内容 -->
<extend name="Index/index" />

<block name="title">
    <title>新闻查看</title>
</block>
<block name="content">
    <div id="content">
        <div class="col-sm-12">
            <div class="page-header">
                <!-- BREADCRUMBS -->
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="index.html">新闻资讯</a>
                    </li>
                    <li>查看</li>
                </ul>
                <!-- /BREADCRUMBS -->
            </div>

            <div class="box-body big">
                <form role="form" action="{:U('Admin/News/update')}" method="post" enctype="multipart/form-data">
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 control-label">标题:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="title" value="{$info.title}" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 control-label">类型:</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="type" disabled>
                                <option value="0">国际新闻</option>
                                <option value="1">国内新闻</option>
                                <option value="2">中国联盟</option>
                                <option value="3">联盟公告</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 control-label">浏览人数:</label>
                        <div class="col-sm-9">
                            <input class="form-control" type="text" name="view" value="{$info.view}" disabled>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 control-label">置顶:</label>
                        <div class="col-sm-9">
                            <input type="radio" name="is_top" value="1" <if condition="($info.is_top eq 1)">checked</if> disabled>是
                            <input type="radio" name="is_top" value="0" <if condition="($info.is_top eq 0)">checked</if> disabled>否
                        </div>
                    </div>
                    <div class="form-group col-md-6"></div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 control-label">上线:</label>
                        <div class="col-sm-9">
                            <input type="radio" name="is_online" value="1" <if condition="($info.is_online eq 1)">checked</if> disabled>是
                            <input type="radio" name="is_online" value="0" <if condition="($info.is_online eq 0)">checked</if> disabled>否
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 control-label">封面图:</label>
                        <div class="col-sm-9">
                            <img src="" alt="" id="cover_box" style="display:none">
                            <a id="upload">
                                <img src="{$info.cover}" width="70px" alt="" id="cover_prev">
                            </a>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-sm-3 control-label">内容:</label>
                        <div class="col-sm-9">
                                {$info.content}
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-md-offset-8">
                        <input type="hidden" name="id" value="{$info.id}">
                        <button type="submit" class="btn btn-success">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script>
        //选中
        $('select').val("{$info.type}").change();
    </script>
</block>