<!-- 继承Index/index里的内容 -->
<extend name="Index/index" /> 



<block name="content">
<!-- SAMPLE BOX CONFIGURATION MODAL FORM-->
<div class="modal fade" id="box-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  <h4 class="modal-title">Box Settings</h4>
		</div>
		<div class="modal-body">
		  Here goes box setting content.
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
  </div>
<!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->
<div class="container">
	<div class="row">
		<block name = 'content'>
		<div id="content" class="col-lg-12">
			<!-- PAGE HEADER-->
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header" style="min-height:45px;">
						<!-- STYLER -->
						
						<!-- /STYLER -->
						<!-- BREADCRUMBS -->
						<ul class="breadcrumb">
							<li>
								<i class="fa fa-home"></i>
								<a href="index.html">视频管理</a>
							</li>
							<li>添加视频</li>
						</ul>
						<!-- /BREADCRUMBS -->
					</div>
				</div>
			</div>
			<!-- /PAGE HEADER -->
			<!-- DASHBOARD CONTENT -->
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-12">
							<div class="box border inverse">
								<div class="box-title">
									<h4><i class="fa fa-bars"></i>视频管理内容</h4>
									<div class="tools">
										
									</div>
								</div>
								<div class="box-body">
										
									<form id="add" action="{:U('Admin/Video/add')}" class="form-horizontal form-bordered"  method="post" enctype="multipart/form-data">
										<div class="panel-body panel-form">
											<div class="col-md-12">
				
												<div class="form-group">
													<label class="control-label col-md-1 col-sm-1">视频上传：</label>
													<div class="resumable-drop" ondragenter="jQuery(this).addClass('resumable-dragover');" ondragend="jQuery(this).removeClass('resumable-dragover');" ondrop="jQuery(this).removeClass('resumable-dragover');">
			        									<a class="resumable-browse"><u class="btn btn-pink" style="text-decoration:none;">点击这里选择视频文件</u></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													
														<a class="btn btn-primary m-r-15" id="start">开始/继续</a>
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														<a class="btn btn-primary m-r-15" id="stop">暂停</a>
														
														<ul id="list"></ul>

														
													</div>
							                        
													
												</div>
												<div class="form-group">
													<table class="table table-bordered" id="uploadTable">
															<tbody>
																<tr>
																	<td style="width:15%; ">文 &nbsp;件&nbsp; 名 :</td>
																	<td></td>
																</tr>
																<tr>																	
																	<td style="width:15%; ">上传进度 :</td>
																	<td>
																		<div class="col-md-4" style="width:100%;">
																			<div class="progress progress-striped active" style="margin-top:5%;">
																			  <div class="progress-bar" id="progress_bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
																			  </div>
																			</div>
																		</div>
																	</td>
																	<td style="width:15%;">
																		<div class="btn btn-primary m-r-15" id="progress_p" style="background:#a8bc7b; border:none; width:100%;">0 %</div>
																	</td>
																</tr>
															</tbody>
													</table>
													<style>
														#uploadTable{border:none; width:40%; margin-left:8%;}

														#uploadTable td{border:none; vertical-align:middle;}
													</style>
												</div>

												<div class="form-group">
													<label class="control-label col-md-1 col-sm-1" for="fullname">标题：</label>
													<div class="col-md-8 col-sm-8">
				                                        <input class="form-control" type="text"  name="title" id="name" placeholder='视频标题' >
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-md-1 col-sm-1">类型：</label>
													<div class="col-md-3 col-sm-3" disabled>
				                                        <select class="form-control" id="type" name="type">
															<option value="" selected >请选择</option>
															<option value="1">宣传视频</option>
															<option value="2">教学视频</option>
															<option value="3">格斗视频</option>
														</select>
													</div>
												</div>

												<div class="form-group">
					                                <label class="col-md-1 control-label">视频封面：</label>
					                                
					                                <div class="col-md-4">
					                                    <img src="" alt="" id="cover_box" style="display:none">
					                                    <a id="upload">
					                                    	<img src="__PUBLIC__/Admin/img/default-thumbnail.png" width="250px" alt="" id="cover_prev">
					                                    </a>
					                                </div>

					                                <div class="col-md-2" style="border-left:none;">
					                                    <button type="button" class="btn btn-primary" id="cancel">取消封面</button>
					                                    <input type="file" name="cover" id="cover" class="hidden label" />
					                                </div>
					                            </div>
												
												
												<input type="hidden" name="path" id="video_path" value="">
												<div class="form-group">
													<label class="col-md-1 control-label">是否展示：</label> 
													<div class="col-md-8"> 
														<label class="radio-inline"> <input type="radio" class="uniform" checked name="is_online" value="T"> 是 </label> 
														<label class="radio-inline"> <input type="radio" class="uniform" name="is_online" value="F" checked=""> 否 </label>
													</div>
												</div>

												<div class="form-group" style="margin-top:20px;">
													<div class="col-md-9 col-sm-9 text-right" style="border:none;">
														<button type="reset" class="btn btn-primary m-r-15">重置</button>
														<button type="submit" class="btn btn-primary m-r-15">添加</button>
													</div>
												</div>

											</div>
											
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		   <!-- /DASHBOARD CONTENT -->
		  
			<!-- /CALENDAR & CHAT -->
			<div class="footer-tools">
				<span class="go-top">
					<i class="fa fa-chevron-up"></i> Top
				</span>
			</div>
		</div><!-- /CONTENT-->

		
	</div>
</div>
</block>

<block name="js">
	<script type="text/javascript" src="__PUBLIC__/Admin/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/js/ueditor/ueditor.all.js"></script>
	<script type="text/javascript" src="__PUBLIC__/Admin/ddupload/resumable.js"></script>
	<script type="text/javascript">
	var r = new Resumable({
		target:'__ROOT__/Tqdlm/Common/Common/upload.php',
	});
	
	
	r.assignDrop($('.resumable-drop')[0]);
	r.assignBrowse($('.resumable-browse')[0]);

	r.on('fileAdded', function(file){
		var tr = $($('table tr')[0]);
		// tr.addClass('file-'+file.uniqueIdentifier);
		$(tr.find('td')[1]).html(file.fileName);
		// $(tr.find('td')[2]).html(0+'%');
		// $('table').append(tr);
	});

	r.on('fileProgress', function(file){
		// $('.file-'+file.uniqueIdentifier+ ' .progress').html(Math.floor(file.progress()*100) + '%');
		var progress = file.progress()*100;
		$('#progress_bar').css("width", progress.toFixed(2)+"%");
    	$("#progress_p").html(progress.toFixed(2)+"%");
	});

	r.on('fileSuccess', function(file, message){
		$('#progress_p').html('已完成');
		console.log(message);
		var res = eval('('+message+')');
		$('#video_path').val("__PUBLIC__/Uploads/Video_uploads/"+res.path);

	});

	$('#start').on('click', function(){
		r.upload();
	});
	
	$('#stop').on('click', function(){
		r.pause();
	});

	</script>
	<script type="text/javascript">
	$(function(){
		var default_img = $('#upload').find('img').attr('src');

		$('#upload').click(function() {
	        $('input[name=cover]').click();
	    });

		$('#cancel').click(function() {
			$('#upload').find('img').attr('src', default_img);
	        $('input[name=cover]').val('');
		});

	    // 封面文件验证
	    $('#cover').change(function() {
	        var file = $(this)[0].files[0];
	        //验证文件大小
	        var size = file.size;
	        var max_size = 1000000;
	        if (size > max_size) {
	            alert('文件过大，请重新选择！');
	            $(this).val('');
	            return false;
	        }
	        //验证文件类型
	        var mime = file.type;
	        var allow_type = ['image/jpeg', 'image/gif', 'image/png', 'image/bmp'];
	        if (allow_type.indexOf(mime) == -1) {
	            alert('文件类型有误，请选图片文件！');
	            $(this).val('');
	            return false;
	        }

	        var reader = new FileReader();
	        reader.readAsDataURL(file);
	        reader.onload = function(){
	            $('#cover_box').attr('src', reader.result);
	            $('#cover_box')[0].onload = function() {
	                $('#cover_prev').attr('src', reader.result);
	            }
	        }
	    });

	    $('#attach_file').click(function() {
	    	$(this).next('input').click();
	    });

	    $('#attach').change(function() {
	        var file = $(this)[0].files[0];
	        $('#attach_name').text(file.name);
	    });

		var demo=$("#add").Validform({
			tiptype:3,
			label:".control-label",
			showAllError:true,
			datatype:{
				"zh1-6":/^[\u4E00-\u9FA5\uf900-\ufa2d]{1,6}$/
			},
		
		});
		
		//通过$.Tipmsg扩展默认提示信息;
		//$.Tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
		demo.tipmsg.w["zh1-6"]="请输入1到6个中文字符！";
		
		demo.addRule([{
			ele:".form-control:eq(0)",
			datatype:"*"
		},
		{
			ele:"#cover",
			datatype:"*",
			nullmsg:"请选择封面"
		}]);


		})

		var progress = file.progress()*100;
		$('#progress_bar').css("width", progress.toFixed(2)+"%");
    	$("#progress_bar").html(progress.toFixed(2)+"%");

	</script>
</block>